<a href="https://colab.research.google.com/github/senthil-kns/senthil-kns/blob/main/Assignment_01(Data_Pre_processing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
data01 = pd.read_csv("https://raw.githubusercontent.com/nursnaaz/DataScienceMasterclass/1e5fc1076e5727c81c223874d40a4a39a82fe0d9/03%20-%20Data%20Preprocessing/student_assignment.csv")

In [9]:
data01

      Age    Income Is Student  Num Children  Temperature  Rating
0    43.0  45893.41       True           0.0         38.2     2.6
1    56.0  69663.07       True           1.0         38.7     3.2
2     NaN  45124.06      False           5.0         36.9     3.9
3    37.0  76724.60      False           2.0         41.6     2.5
4    53.0  58343.03      False           1.0         36.5     3.3
..    ...       ...        ...           ...          ...     ...
99   42.0  46673.04      False           5.0         38.8    10.9
100  35.0  27089.59       True           5.0         35.3     1.6
101  61.0  83082.63       True           4.0         35.6     3.7
102  39.0  61868.49       True           5.0         37.1     3.8
103  47.0  59526.59      False           3.0         36.7     3.2

[104 rows x 6 columns]

In [10]:
data01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           103 non-null    float64
 1   Income        104 non-null    float64
 2   Is Student    104 non-null    object
 3   Num Children  101 non-null    float64
 4   Temperature   104 non-null    float64
 5   Rating        104 non-null    float64
dtypes: float64(5), object(1)
memory usage: 5.0+ KB

In [11]:
data01.head()

    Age    Income Is Student  Num Children  Temperature  Rating
0  43.0  45893.41       True           0.0         38.2     2.6
1  56.0  69663.07       True           1.0         38.7     3.2
2   NaN  45124.06      False           5.0         36.9     3.9
3  37.0  76724.60      False           2.0         41.6     2.5
4  53.0  58343.03      False           1.0         36.5     3.3

In [12]:
data01.tail()

      Age    Income Is Student  Num Children  Temperature  Rating
99   42.0  46673.04      False           5.0         38.8    10.9
100  35.0  27089.59       True           5.0         35.3     1.6
101  61.0  83082.63       True           4.0         35.6     3.7
102  39.0  61868.49       True           5.0         37.1     3.8
103  47.0  59526.59      False           3.0         36.7     3.2

In [13]:
data01.describe()

              Age        Income  Num Children  Temperature      Rating
count  103.000000    104.000000    101.000000   104.000000  104.000000
mean    52.932039  58456.756442      3.059406    38.399038    3.295192
std     66.249567  22150.934058      4.046781     2.083010    1.448426
min     18.000000  20955.370000      0.000000    35.200000   -3.200000
25%     31.500000  40065.965000      2.000000    36.700000    2.600000
50%     42.000000  58014.560000      3.000000    38.400000    3.400000
75%     53.500000  74489.015000      4.000000    39.925000    4.100000
max    511.000000  99072.180000     40.000000    41.900000   10.900000

In [15]:
data01.shape

(104, 6)

In [17]:
data01['Age'].mean()

52.932038834951456

In [18]:
data01['Age'].median()

42.0

In [29]:
data01['Age'].mode()

0    31.0
Name: Age, dtype: float64

In [24]:
data01.isna().sum()

Age             1
Income          0
Is Student      0
Num Children    3
Temperature     0
Rating          0
dtype: int64

In [26]:
data01['Age'].fillna(data01['Age'].mode().values[0],inplace=True)

In [27]:
data01.isna().sum()

Age             0
Income          0
Is Student      0
Num Children    3
Temperature     0
Rating          0
dtype: int64

In [21]:
data01['Num Children'].mean()

3.0594059405940595

In [22]:
data01['Num Children'].median()

3.0

In [38]:
data01['Num Children'].mode()

0    3.0
Name: Num Children, dtype: float64

In [32]:
data01.isna().sum()

Age             0
Income          0
Is Student      0
Num Children    3
Temperature     0
Rating          0
dtype: int64

In [31]:
data01['Num Children'].isna().sum()

3

In [34]:
data01['Num Children'].fillna(data01['Num Children'].mode().values[0],inplace=True)

In [35]:
data01.isna().sum()

Age             0
Income          0
Is Student      0
Num Children    0
Temperature     0
Rating          0
dtype: int64